@page
@model IndexModel
<style type="text/css">
    body {
        background-color:@Model.BackgroundColor;
    }
</style>
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <H1>網站中【次要】的部分 ( Quote of the day )</H1>
    <blockquote class="blockquote">
        <p class="mb-0">@Model.quote.text</p>
        <footer class="blockquote-footer">@Model.quote.attribution</footer>
    </blockquote>
</div>

<h1>網站中【重要】的部分</h1>

<form class="form-inline" method="POST">
    <label class="sr-only" for="inlineFormInput">Name</label>
    <input type="text" readonly asp-for="Data" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Enter Data">

    <button type="submit" onclick="$('.alert').alert('close')" class="btn btn-primary">提交新的每日佳句</button>
</form>

@if (!string.IsNullOrEmpty(Model.Message))
{
    <div id="alert" class="alert alert-info" role="alert"><p>@Model.Message</p></div>
}

<footer>Version: @Model.Version</footer>


